<table role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}" class="biggerTable">
  <thead>
    <tr class ="headerColor">
      <th class="moveLeft" tabindex="-1"><img ng-click="move(-1)" src="http://cdn.rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/datepicker/img/arrow_left.png"></th>
      <th colspan ="5">
        <span id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" class="title" tabindex="-1">
          {{title}}
        </span>
      </th>
      <th class="moveRight" tabindex="-1"><img ng-click="move(1)" src="http://cdn.rawgit.com/PDI-DGS-Protolab/building-blocks-material/master/components/datepicker/img/arrow_right.png"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows track by $index">
      <td ng-repeat="dt in row track by dt.date" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">
        <button type="button" class="bigButton month" ng-class="{active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
          <span>{{dt.label}}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
