.dropdown-group,
.dropdown-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-group .dropdown-toggle:active,
.dropdown-group.open .dropdown-toggle {
    outline: 0;
}

.dropdown-group.open.movistar .dropdown-toggle.movistar {
    border: 2px solid #00C6D7;
}

.dropdown-group.open.vivo .dropdown-toggle.vivo {
    border: 2px solid #FF9900;
}

.dropdown-group.open.telefonica .dropdown-toggle.telefonica {
    border: 2px solid #00C6D7;
}

.dropdown-group.open.o2 .dropdown-toggle.o2 {
    border: 2px solid #01B7B4;
}

.dropdown-group.open .dropdown-large {
    padding-left:14px;
}

.dropdown-group.open .dropdown-medium,
.dropdown-group.open .dropdown-small{
    padding-left:11px;
}



.dropdown-group.open .dropdown-large .caret.large {
    margin-right: 7px;
}

.dropdown-group.open .dropdown-medium .caret.medium,
.dropdown-group.open .dropdown-small .caret.small {
    margin-right: 2px;
}


.dropdown-large {
    text-align: left;
    cursor: pointer;
    background-image: none;
    border: 1px solid #CFCECE;
    -webkit-user-select: none;
    background: #f3f3f3;
    border-radius: 3px;
    font-size: 16px;
    height: 36px;
    width: 329px;
    padding-left: 15px;
}

.dropdown-medium {
    text-align: left;
    cursor: pointer;
    background-image: none;
    border: 1px solid #CFCECE;
    -webkit-user-select: none;
    background: #f3f3f3;
    border-radius: 3px;
    font-size: 14px;
    height: 22px;
    width: 219px;
    padding-left: 12px;
}

.dropdown-small {
    text-align: left;
    cursor: pointer;
    background-image: none;
    border: 1px solid #CFCECE;
    -webkit-user-select: none;
    background: #f3f3f3;
    border-radius: 3px;
    font-size: 11px;
    height: 22px;
    width: 97px;
    padding-left: 12px;
}

.dropdown-small:disabled,
.dropdown-medium:disabled,
.dropdown-large:disabled {
    border: 1px solid #cfcece;
}

.caret.large {
    border-top: 6px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    float: right;
    margin-top: 7px;
    margin-right: 8px;
    padding-bottom: 5px;
}

.caret.medium {
    border-top: 5px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    float: right;
    margin-top: 6px;
    margin-right: 3px;
    padding-bottom: 4px;
}

.caret.small {
    border-top: 5px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    float: right;
    margin-top: 4px;
    margin-right: 3px;
    padding-bottom: 3px;
}

.dropdown {
    position: relative;
}
.dropdown-toggle:focus {
    outline: 0;
}
.dropdown-menu.large {
    position: absolute;
    top: 100%;
    left: 1%;
    display: none;
    float: left;
    min-width: 323px;
    width: auto;
    padding: 0 0 0 0;
    margin: 1px 0 0 0;
    font-size: 16px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-item.large {
    height:25px;
    padding-left: 15px;
}

.dropdown-item:first-child {
    padding-top:5px;
}

.dropdown-item.medium {
    height:20px;
    padding-left: 11px;
}

.dropdown-item.small {
    height:20px;
    padding-left: 11px;
}

.dropdown-menu > li > a {
    font-weight: normal;
    color: #333;
    text-decoration: none;
}


.dropdown-menu.medium {
    position: absolute;
    top: 100%;
    left: 2%;
    display: none;
    float: left;
    min-width: 210px;
    width: auto;
    padding: 0 0 0 0;
    margin: 1px 0 0 0;
    font-size: 14px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-menu.small {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 139px;
    width: auto;
    padding: 0 0 0 0;
    margin: 1px 0 0 0;
    font-size: 11px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}


.dropdown-menu > li:hover,
.dropdown-menu > li:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0;
}



.dropdown-menu > li:hover > .dropdown-menu-inside, .dropdown-menu > li:focus > .dropdown-menu-inside {
    display: block;
}

.dropdown-menu-inside.large:not(.left) {
    position: absolute;
    left: 100%;
    display: none;
    float: left;
    min-width: 127px;
    width: auto;
    padding: 0 0 0 0;
    margin: -19px 0 0 0;
    font-size: 16px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-menu-inside.medium:not(.left) {
    position: absolute;
    left: 100%;
    display: none;
    float: left;
    min-width: 127px;
    width: auto;
    padding: 0 0 0 0;
    margin: -17px 0 0 0;
    font-size: 14px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-menu-inside.small:not(.left) {
    position: absolute;
    left: 100%;
    display: none;
    float: left;
    min-width: 90px;
    width: auto;
    padding: 0 0 0 0;
    margin: -15px 0 0 0;
    font-size: 11px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}



.dropdown-menu-inside.large.right {
    position: absolute;
    left: 100%;
    display: none;
    float: left;
    min-width: 127px;
    width: auto;
    padding: 0 0 0 0;
    margin: -19px 0 0 0;
    font-size: 16px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-menu-inside.medium.right {
    position: absolute;
    left: 100%;
    display: none;
    float: left;
    min-width: 127px;
    width: auto;
    padding: 0 0 0 0;
    margin: -17px 0 0 0;
    font-size: 14px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-menu-inside.small.right {
    position: absolute;
    left: 100%;
    display: none;
    float: left;
    min-width: 90px;
    width: auto;
    padding: 0 0 0 0;
    margin: -15px 0 0 0;
    font-size: 11px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}


.dropdown-menu-inside.large.left {
    position: absolute;
    right: 100%;
    display: none;
    float: left;
    min-width: 167px;
    width: auto;
    padding: 0 0 0 0;
    margin: -18px 0 0 0;
    font-size: 16px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;

}

.dropdown-menu-inside.medium.left {
    position: absolute;
    right: 100%;
    display: none;
    float: left;
    min-width: 127px;
    width: auto;
    padding: 0 0 0 0;
    margin: -17px 0 0 0;
    font-size: 14px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.dropdown-menu-inside.small.left {
    position: absolute;
    right: 100%;
    display: none;
    float: left;
    min-width: 90px;
    width: auto;
    padding: 0 0 0 0;
    margin: -15px 0 0 0;
    font-size: 11px;
    z-index: 1;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    -moz-box-shadow:    0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    box-shadow:         0px 0px 8px 0px rgba(6, 6, 6, 0.83);
    border-radius: 0px 0px 4px 4px;
}

.sublist-name {
    margin-left: 5px;
}

.dropdown-menu-inside > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    padding: 7px 12px 7px 12px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}
.dropdown-menu-inside > li > a:hover,
.dropdown-menu-inside > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.caret-right-small {
    border-left: 6px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 5px;
}

.caret-right-medium {
    border-left: 6px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    float: right;
    margin-top: 4px;
    margin-right: 8px;
    margin-left: 5px;
}


.caret-right-large {
    border-left: 6px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    float: right;
    margin-top: 7px;
    margin-right: 13px;
    margin-left: 5px;
}


.caret-left {
    border-right: 6px solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    float: left;
    margin-top: 6px;
    margin-right: 15px;
}

.caret-left-not {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    vertical-align: middle;
    float: left;
    margin-top: 6px;
    margin-right: 20px;
}
