
.bigButton{
	width: 92px;
	height: 37px;
	background: white;
	border: 1px solid #cfcece;
	border-radius: 3px;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

.bigButton:hover{
	background:#f2f2f2;
}

.bigButton.active{
	border:none;
	font-weight: bold;
	color: white;
}

.datePicker > div{
	border:none;
	margin-bottom:0;
	background: none;
	text-align: center;
	display: inline-block;
}

.datePickerContainer{
	
	width:300px;
	height: 272px;
	text-align: center;
	margin:0;
	margin-top: 3px;
	border-radius: 5px;
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	padding:0px;
	position: absolute;
	background-color: white;
}

.headerColor{
	height: 45px;
	border:0;
}

.week{
	font-size: 10px;
	color: #cfcece;
	opacity: 50%;	
}

.datePicker > table{
	border:none;
	margin: auto;
	width:100%;
	height:226px;
	border-collapse: collapse;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	table-layout: fixed;
}

.datePicker > table > tbody{
	display: table;
	width: 279px;
	margin-left: 11px;
	height: 148px;
	table-layout: fixed;
}

.datePicker > table.biggerTable > tbody{
	display: table;
	width: 294px;	
	height: 150px;
	table-layout: fixed;
	margin:0;
	margin-top: 9px;
	margin-left: 3px;
	margin-right: 3px;
}

.datePicker > table.biggerTable > tbody td{
	padding: 3px;
}

.dayHeader {
	border-top:1px solid #cfcece;
	border-bottom:1px solid #cfcece;
	color: #cfcece;
	font-size: 12px;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
}

.datePicker > table > thead > tr:first-child >th{
	border:none !important;	
}

.datePicker .title{
	font-weight: bold;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;	
	color: white;
	border: none;
	outline: none;
}

.moveRight > img, .moveLeft > img{
	height: 15px;
	cursor: pointer;
}

.moveRight{
	padding-right: 18px;
	text-align: right;
	outline: none;
	border-top-right-radius: 5px;
}
.moveLeft{
	padding-left: 18px;
	text-align:left;
	outline: none;
	border-top-left-radius: 5px;
}

td > .day{
	border:none;
	background:none;
	outline:none;
	box-shadow: none;
	padding:0px; 
	width:70%;
	height:100%;
	font-size: 12px;
}

.day > span {
	border-radius: 15px;
	padding: 4px;
	width: 14px;
	display: block;
	height: 14px;
	margin: auto;
	text-align: center;
}
.day> span:hover{
	cursor:pointer;
	background: #f2f2f2;	
}

.day.active > span{
	font-weight: bold;
	color:white;
}

.text-muted {
	color: #999;
}

.filaDias{
	display: table;
	width: 279px;
	margin-left: 11px;
	table-layout: fixed;
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-default {
	color: #333;
}

.specialButton{
	width: 58px;
	height: 25px;
	outline: none;
	border:none;
	border-radius:3px;
	margin-left:0px;
	margin-right: 15px;	
	font-weight: bold;
	color:white;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.buttonContainer {
	margin-top: 9px;
	margin-left:11px;
	margin-right: 11px;
	margin-bottom: 12px;
}

.buttonContainer table{
	border-collapse: collapse;
}

.buttonContainer table > tbody > tr > td{
	padding:0;
}

