.o2 .headerColor{
	background-color: #2280a6;
}

.o2 .specialButton.btn-today, .day.active > span {
	background: #01b7b4;
}

.o2 .specialButton.btn-month, .bigButton.month.active {
	background: #952d98;	
}

.o2 .specialButton.btn-year, .bigButton.year.active{
	background: #ffcc00;
}

.o2 .specialButton.btn-clear {
	background: #8c9299;
}
