.vivo .headerColor{
	background-color: #0066cc;
}

.vivo .specialButton.btn-today, .vivo .day.active > span {
	background: #99cc33;
}

.vivo .specialButton.btn-month, .vivo .bigButton.month.active {
	background: #660099;	
}

.vivo .specialButton.btn-year, .vivo .bigButton.year.active{
	background: #ff9900;
}

.vivo .specialButton.btn-clear {
	background: #999999;
}
