.vivo .headerColor{
	background-color: #0066cc;
}

.vivo .specialButton.btn-today, .day.active > span {
	background: #99cc33;
}

.vivo .specialButton.btn-month, .bigButton.month.active {
	background: #660099;	
}

.vivo .specialButton.btn-year, .bigButton.year.active{
	background: #ff9900;
}

.vivo .specialButton.btn-clear {
	background: #999999;
}
