@font-face {
    font-family:'Frutiger';
    src:url('../../../fonts/o2/frutiger.ttf') format('truetype');
}


header.o2 {
    background-color: #ededed;
}

header.o2 .company-logo-container {
    float: left;
    padding-left: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 33px;
}

header.o2 .service-name-container {
    float: right;
    padding-left: 1em;
    padding-right: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 30px;
}

header.o2 .info-container {
    padding-left: 0.5em;
    padding-right: 32px;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

header.o2 .service-name-container .service-name {
    font-family: Frutiger, Arial, Verdana, sans-serif;
    font-size: 32px;
    vertical-align: bottom;
}

header.o2 .top-bar {
    background-image: url("../img/tab_top_o2.jpg");
    background-repeat: repeat-x;
    width:100%;
    height: 32px;
    position: relative;
    color: #fff;
}

header.o2 .bottom-bar {
    background-image: url("../img/tab_bottom_o2.jpg");
    background-repeat: repeat-x;
    width:100%;
    height: 18px;
    position: absolute;
    bottom: 0;
    color: #fff;
}



header.o2 .info-container a {
    color: #dbe7e9;
    text-decoration: none;
}


header.o2 .service-name-container a {
    color: #032b5a;
    text-decoration: none;
}



header.o2 .info-container-responsive {
        display: none;
}


#menu-mobile-icon.o2 {
    background-image:url('../img/menu-01.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

#menu-mobile-icon.open.o2 {
    background-color: #ffffff;
    height: 32px;
    width: 32px;
    background-image:url('../img/cross_menu-02.svg');

}

.info-container-responsive>ul {
    list-style: none;
    position: absolute;
    width:150px;
    color: #000000;
    background-color: #ffffff;
    height: 106px;
    right: 0;
    overflow: hidden;
    top: 1em;
    padding: 0px;
}

.info-container-responsive>ul>li {
    display: block;
    border-bottom: 1px solid #cccccc;
    height: 35px;
    text-align: right;
}

.info-container-responsive>ul>li>a {
    display:inline-block;
    padding: 10px 15px 8px 15px;
}

header.o2 .info-container-responsive a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
}


@media (max-width: 640px) {
    header.o2 .info-container {
        display: none;
    }

    header.o2 .info-container-responsive {
        padding-left: 0.5em;
        padding-right: 32px;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 30;
        -webkit-transform: translate(0%, -38%);
        transform: translate(0%, -50%);
    }

}
