body {
    background-color: gray;
}

/*
 *  msg-container styles
 */
.msg-container.msg-fixed {
    position: fixed;
    float: right;

    max-width: 870px;
    max-height: 76px;
    z-index: 9999;

    /* bottom: 10px; */
    top: 10px;
    left: 33%;
    /* margin-left: -200px; */
}

.msg-container > .msg-item > .msg-icon {
    width: 77px;
    height: 74px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px 40px;

    
    display: inline-block;
    position: fixed;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.msg-container > .msg-item.msg-success > .msg-icon {
    background-color: #238937;
    background-image: url("../icons/success_icon.svg");
}
.msg-container > .msg-item.msg-error > .msg-icon {
    background-color: #ca3430;
    background-image: url("../icons/error_icon.svg");
}

/*
 * msg-item styles
 */
.msg-container > .msg-item {
    cursor: pointer;
    height: 74px;
    width: 868px;

    background-color: #ffffff;

    margin-bottom: 10px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #cfcece;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.msg-container > button {
    border: none;
    outline:none;
}
.msg-container > .msg-item.ng-enter,
.msg-container > .msg-item.ng-leave {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
}

.msg-container > .msg-item.ng-enter,
.msg-container > .msg-item.ng-leave.ng-leave-active {
    opacity:0;
}
.msg-container > .msg-item.ng-leave,
.msg-container > .msg-item.ng-enter.ng-enter-active {
    opacity:1;
}


.msg-content {
    width: 767px;
    height: 64px;
    display: block;
    padding-left: 102px;
    padding-top: 12px;
}

/*
 * msg-title styles
 */
.msg-title {
    font-size: 18px;
    font-family: "Arial MT", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.msg-message {
    font-size: 16px;
    font-family: "Arial MT", Arial, Helvetica, sans-serif;
}

/*
 * msg-message styles
 */

.msg-success > .msg-content > .msg-title {
    color: rgb(35,137,55);
    
}

.msg-error > .msg-content > .msg-title {
    color: rgb(202,52,48);
}

.msg-item.icon > .msg-content > .msg-message {
    color: rgb(0,0,0);
}

/*
 * msg background images
 */

.msg-container > .msg-error.icon > msg.icon {
    background-image: url("../icons/error_icon.svg");
}
.msg-container > .msg-success.icon > msg.icon{
    background-image: url("../icons/success_icon.svg");
}

/* .msg-container > .alert-info.icon { */
/*     background-image: url(""); */
/* } */
/* .msg-container > .alert-warning.icon { */
/*     background-image: url(""); */
/* } */
