input[type=radio] {
    margin: 0;
    opacity: 0;
}

input[type=radio] + label {
    position: relative;
}

input[type=radio] + label::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    content: "";
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 100%;
    left: 0;
    margin-left: -17px;
    z-index: -1;
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
}

input[type=radio].telefonica + label::before { background-image: url('../img/unselected_T.png'); }
input[type=radio].movistar   + label::before { background-image: url('../img/unselected_M.png'); }
input[type=radio].vivo       + label::before { background-image: url('../img/unselected_V.png'); }
input[type=radio].o2         + label::before { background-image: url('../img/unselected_O2.png'); }

input[type=radio]:checked.telefonica + label::before { background-image: url('../img/selected_T.png'); }
input[type=radio]:checked.movistar   + label::before { background-image: url('../img/selected_M.png'); }
input[type=radio]:checked.vivo       + label::before { background-image: url('../img/selected_V.png'); }
input[type=radio]:checked.o2         + label::before { background-image: url('../img/selected_O2.png'); }

input[type=radio]:disabled.telefonica + label::before { background-image: url('../img/disabled_T.png'); }
input[type=radio]:disabled.movistar   + label::before { background-image: url('../img/disabled_M.png'); }
input[type=radio]:disabled.vivo       + label::before { background-image: url('../img/disabled_V.png'); }
input[type=radio]:disabled.o2         + label::before { background-image: url('../img/disabled_O2.png'); }