<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <LINK href="css/bb-radio-button.css" rel="stylesheet" type="text/css"/>


        <title>Web building blocks - buttons</title>
    </head>
    <body>
        <header>
        </header>
            <input type="radio" name="radio" checked class="movistar" />
            <label> I have a Bike </label></br>
            <input type="radio" name="radio"  class="movistar" />
            <label> I have a motorbike </label> </br>
            <input type="radio" name="radio" disabled class="movistar" />
            <label> Disabled checkbox </label> </br>

        <footer>
        </footer>
    </body>
</html>