.checkbox {
    background-color: transparent;
    border: #CFCECE 1px solid;
    border-collapse: collapse;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    height: 18px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 1px 3px;
    perspective-origin: 11px 11px;
    text-decoration: none solid;
    transform-origin: 11px 11px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 18px;
    -webkit-appearance: none;
    -webkit-perspective-origin: 11px 11px;
    -webkit-transform-origin: 11px 11px;
    -webkit-user-select: none;
}

.checkbox:disabled {
    cursor: default;
}

.checkbox.telefonica .glyphicon-ok { color: #00C6D7; }
.checkbox.vivo       .glyphicon-ok { color: #99CC33; }
.checkbox.o2         .glyphicon-ok { color: #01B7B4; }
.checkbox.movistar   .glyphicon-ok { color: #8CC238; }
.checkbox:disabled   .glyphicon-ok { color: #CFCECE; }