form.bb-form {
    background: #FFFFFF;
    border-color: #D5D3D4;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #BBB;
    overflow: hidden;
    padding: 37px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "Arial", sans-serif;
    position: relative;
}

form.bb-form h1 {
    text-align:center;
    margin-top: 0px;
    margin-bottom: 48px;
    font-size: 24px;
}

form.bb-form .input-container {
    height: 36px;
    width: 100%;
    margin-bottom: 26px;
}

form.bb-form .input-container input.input {
    font-size: 12px;
    height: 100%;
}

form.bb-form button.checkbox {
    float: left;
}

form.bb-form .checkbox-label {
    float: left;
    margin-left: 5px;
    line-height: 20px;
}

form.bb-form a {
    text-decoration: none;
}

form.bb-form a.telefonica {color: #00c6d7;}
form.bb-form a.movistar {color: #8cc238;}
form.bb-form a.vivo {color: #99cc33;}
form.bb-form a.o2 {color: #01b7b4;}
